{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="banner-top">
	<div class="container">
		<h1>About</h1>
		<em></em>
		<h2><a href="/">Home</a><label>/</label>About</h2>
	</div>
</div>	
<br><br>
<div class="container">
	<div class="row" >
	    <div class="col-md-8 col-md-offset-2">
		
			<div class="form-group">
				<h3>Welcome to Unimax Enterprises</h3><br>
				<p>Unimax is a consumer oriented company we are committed to quality service & quality product.
					Over the past 35 years, our directors & their families have built a solid & strong reputation on high quality products and service. Unimax enterprises deal is all types of hardware like garden hose, grinding and cutting tools, hammers, measuring tapes, screw drivers, pliers, fastners, nuts, bolts, welding rods.<br> <br> &emsp; &emsp; We do planning for other dealers and consumers. Our network of dependable worldwide suppliers guarantee the best quality & service. Adding to this ensure value for money on all our products. Unimax is the ONE STOP solution for any sort of hardware product with unimaginable service & quality. We are been associated with mostly all the leading hardware retail shops, leading promoters and industrialits in and around our base.
				</p>
		
				<br><br><br>
				<div class="form-group">
					<h3>Directors Message</h3><br>
					<p> &emsp; &emsp; Unimax enterprises focuses on high quality product and service. This is the reason we have highly educated directors and staff at our head office, corporate office and the warehouse we also have a great team of finance and legal advisors who are the backbone of our company. Its our responsibility to share our consumers thoughts and semtiments and this is the reason we provide the most reliable and quality products to our clients.</p>
 				</div>
			</div><!-- end for class "row" -->
		</div><!-- end for class "container" -->
	</div>
</div>


{% endblock %}